
	<div class="container" style="min-height: 560px;padding:0;margin:0;">
		<div class="row">
			<include file="Public/backside" />
			<div class="col-md-9 col-sm-8 col-lg-9 col-xs-8">
		<div class="main">
        	<div class="main-h" >
            	<ul class="breadcrumb">
              		<li>
                		<a href={:U('Back/index')}>订单管理首页</a> <span class="divider"></span>
              		</li>
                  <li>
                    <a href="#">未付款</a> <span class="divider"></span>
                  </li>
                  <li>
                    <a href={:U('Back/subnew')}>实地登记信息</a> <span class="divider"></span>
                  </li>
              		<li class="active">
                		成功信息展示
              		</li>
            	</ul>
          		<h3 class="side-lined" style="color:#000">欢迎您！管理员</h3>
          		<form class="form-horizontal" method="post" action={:U('Back/subadd')}>
				<div class="container">
					<div class="row">
						<input style="display:none;" value={$findid} name="id"/>
						<div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-user">
									</span>
								</div>
								<input type="text" id="username" class="form-control" name="yourname" value="预约人姓名【{$findname}】" readonly>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-earphone">
									</span>
								</div>
								<input id="telphone" type="text"  class="form-control" name="yourtel" value="预约人电话【{$findtel}】" readonly/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-calendar">
									</span>
								</div>
								<input id="datetimepicker" type="text" class="form-control" name="youraptime" value="预约时间【{$findtime}】" readonly/>
							</div>
							<div class="input-group">
						      <div class="input-group-addon">
									<span class="glyphicon glyphicon-stats">
									</span>
								</div>
								<input id="totalpeople" type="text" name="yourtotal" class="form-control" value="成人人数【{$findtotal}】" readonly>
						   </div>
						   
						</div>
						<div class="col-md-5 col-sm-5 col-lg-5 col-xs-5" style="margin-bottom: 50px;">
							<div class="input-group">
						      <div class="input-group-addon">
									<span class="glyphicon glyphicon-leaf">
									</span>
								</div>
								<input id="childnum" type="text" name="yourchild"  class="form-control" value="儿童人数【{$findchild}】" readonly>
						   </div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-yen">
									</span>
								</div>
								<input id="paymoney" type="text"  class="form-control" name="yourpay"  value="付款金额【{$findmoney}】" readonly/>
							</div>
							
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-calendar">
									</span>
								</div>
								<input id="findpaytime" type="text"  class="form-control" name="yourpaytime" value="付款时间【{$findpaytime}】" readonly/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-send">
									</span>
								</div>
								<input id="paymoney" type="text" class="form-control" name="yourpay" value="付款方式【{$findway}】" readonly/>
							</div>
						</div>

					</div>
					<a class="btn btn-default btn-lg" href={:U('Back/afteralterfix',array('id'=>$findtel))}>修改信息</a>
				</div>
			</form>	
              </div>
            </div>
        </div>
    </div>
</div>