
		<include file="Public/header" />
		<div class="container" style="min-height: 560px;padding:0;margin:0;">
    		<div class="row">
				  <include file="Public/backside" />
				<div class="col-md-9 col-sm-8 col-lg-9 col-xs-8">
			<div class="main">
            	<div class="main-h" >
                	<ul class="breadcrumb">
                  		<li>
                    		<a href={:U('Back/index')}>订单管理首页</a> <span class="divider"></span>
                  		</li>
                      <li>
                        <a href={:U('Back/submenu')}>来客下单汇总</a> <span class="divider"></span>
                      </li>
                      <li>
                        <a href={:U('Back/subalter')}>修改</a> <span class="divider"></span>
                      </li>
                  		<li class="active">
                    		修改结果显示
                  		</li>
                	</ul>
                  <h3 class="side-lined" style="color:#000">欢迎您！管理员</h3>
                  <p>该页面不支持修改</p>
             		<form class="form-horizontal" method="post" action={:U('Back/subfix')}>
					<div class="container">
						<div class="row">
							<input style="display:none;" value={$findid} name="id"/>
							<div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-user">
										</span>
									</div>
									<input type="text"  class="form-control" name="telorhome" value="预 约 方 式【{$telorhome}】" readonly>
								</div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-user">
										</span>
									</div>
									<input type="text" id="username" placeholder="请输入顾客的姓名" class="form-control" name="yourname" msg="姓名" value="预约人姓名【{$findname}】" readonly>
								</div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-earphone">
										</span>
									</div>
									<input id="telphone" type="text" placeholder="请输入顾客的联系方式" class="form-control" name="yourtel" msg="联系方式" value="预约人号码【{$findtel}】" readonly/>
								</div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar">
										</span>
									</div>
									<input id="datetimepicker" type="text" placeholder="请输入顾客的时间" class="form-control" name="youraptime" value="预 约 时 间【{$findtime}】"  readonly/>
								</div>
								<div class="input-group">
							      <div class="input-group-addon">
										<span class="glyphicon glyphicon-stats">
										</span>
									</div>
									<input id="totalpeople" type="text" name="yourtotal" placeholder="请输入出行的人数（填数字即可）" class="form-control" msg="出行人数" value="成 人 人 数【{$findtotal}】" readonly>
							   </div>
							   
							</div>
							<div class="col-md-5 col-sm-5 col-lg-5 col-xs-5" style="margin-bottom: 50px;">
								<div class="input-group">
							      <div class="input-group-addon">
										<span class="glyphicon glyphicon-leaf">
										</span>
									</div>
									<input id="childnum" type="text" name="yourchild" placeholder="请输入携带的8岁以下小孩人数（填数字即可）" class="form-control" value="儿童人数【{$findchild}】" msg="儿童人数(可以是0)" readonly>
							   </div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-yen">
										</span>
									</div>
									<input id="paymoney" type="text" placeholder="请输入顾客所付的金额" class="form-control" name="yourpay" msg="金额" value="付款金额【{$findmoney}】" readonly/>
								</div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar">
										</span>
									</div>
									<input id="findpaytime" type="text"  class="form-control" name="yourpaytime" value="付款时间【{$findpaytime}】" readonly/>
								</div>
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-send">
										</span>
									</div>
									<input id="paymoney" type="text" class="form-control" name="" msg="方式" value="支付方式【{$findway}】" readonly/>
								</div>
							</div>

						</div>
					</div>
				</form>	
                  </div>
                </div>
            </div>
        </div>
			</div>