<div class="container" style="min-height: 560px;padding:0;margin:0;">
    <div class="row">
		<include file="Public/backside" />
		<div class="col-md-9 col-sm-8 col-lg-9 col-xs-8">
			<div class="main">
            	<div class="main-h" >
                	<ul class="breadcrumb">
                  		<li>
                    		<a href={:U('Back/index')}>订单管理首页</a> <span class="divider"></span>
                  		</li>
                  		<li class="active">
                    		主页
                  		</li>
                	</ul>
                  <h3 class="side-lined" style="color:#000">欢迎您！管理员</h3>
                  <div class="container-fluid">
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="media">
                           <a href={:U('Back/bfind')} class="pull-left"><img src="__PUBLIC__/img/tx1.png" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">
                              顾客预约登记
                            </h4> 若顾客来店面前已经预约，请点击顾客预约查询，输入顾客手机号码进行下单，点击之后，完善顾客付款信息/付款金额
                          </div>
                        </div>
                        <br><br>
                        <div class="media">
                           <a href={:U('Back/subnew')} class="pull-left"><img src="__PUBLIC__/img/tx2.png" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">
                              实地预约登记
                            </h4> 若顾客直接来店面进行预约，可以直接点来客下单汇总，新建客户信息
                          </div>
                        </div>
                        <br><br>
                        <div class="media">
                           <a class="pull-left"><img src="__PUBLIC__/img/tx3.png" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">
                              客户信息增删查改
                            </h4> 如果需要对顾客信息修改/查询/删除，请分别点击按钮
                            <br><br><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

	</div>
</div>