{__NOLAYOUT__}
 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 分别为：屏幕宽度和设备一直，初始缩放比例，最大缩放比例和禁止用户缩放 -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>"贪吃蓝莓君"-近期活动</title>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/exercise.css" />
</head>
<body>
	
	<div class="activity">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>小伙伴们，精彩不要错过</h3>
					<h5 class="h-top">
						<span class="glyphicon glyphicon-bell"></span> 活动时间:暂定
					</h5>
					<h5>
						<span class="glyphicon glyphicon-road"></span> 活动地点:蓝莓采摘园
					</h5>
					<hr>
					<p style="font-size: 16px;padding-top: 30px;padding-left: 30px">
						活动还没开始哟~
						<br>六一活动马上开始
						<br>敬请期待
						<br>活动通知会以推送提醒哒(｡･ω･｡)ﾉ♡
					</p>
					
				</div>
			</div>
		</div>
		
	</div>
	
	<load href="__PUBLIC__/js/jquery.min.js" />
	<load href="__PUBLIC__/js/bootstrap.min.js" />
</body>
</html>