<ul class="list-group">
	    <li class="list-group-item itemfix"><a href={:U('Back/subnew')}><span class="glyphicon glyphicon-plus"></span>&nbsp;新建</a></li>			
    <li class="list-group-item itemfix"><a href={:U('Back/subalter')}><span class="glyphicon glyphicon-pencil"></span>&nbsp;查询</a></li>
    <li class="list-group-item itemfix"><a href={:U('Back/subdelete')}><span class="glyphicon glyphicon-minus"></span>&nbsp;删除</a></li>
    <li class="list-group-item itemfix"><a href={:U('Back/index')}><span class="glyphicon glyphicon-share-alt"></span>&nbsp;返回主菜单</a></li>
</ul>