<!-- 底部导航栏开始 -->
                <nav class="navbar navbar-default navbar-fixed-bottom " style="margin-bottom: 0px;">
                  <div class="container">
                    	
                        <!-- 底部信息 -->
                    	<ul class="nav navbar-nav">
                    		<li>
                    			<a style="color:#cc9999">CopyRight © 2014-2016 贪吃蓝莓君 By WJ All Rights Reserved Powered By MVC,Bootstrap,Jquery,PHP <span class="glyphicon glyphicon-send" aria-hidden="true"></span> mailto:wjun89757@foxmail.com</a>
                    		</li>
                    	</ul>
                  </div>
                </nav>
                <!-- 底部导航栏结束 -->