<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<block name="title"><title>贪吃蓝莓君</title></block>
		
		<!-- style CSS -->
		<load href="__PUBLIC__/css/style.css" />
		<!-- Bootstrap CSS -->
		<load href="__PUBLIC__/css/bootstrap.min.css" />
		<!-- Jquery.min.js -->
		<load href="__PUBLIC__/js/jquery.min.js" />
		<load href="__PUBLIC__/js/bootstrap.min.js" />

	</head>
	<body>
		<include file="Public/header" />
		
		{__CONTENT__}
		
	</body>
</html>